.btn-h1-spacing {
  margin-top: 18px;
  margin-right: 10px;
}

.form-spacing-top {
  margin-top: 25px;
}

.comment-created{
  font-size: 11px;
  color: grey;
  display: block;
  font-style: italic;
}
